.add-book {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.Lesson-Panel {
  width: 30%;
  height: 2.813rem;
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
}
